---
layout: default
title: Digital Multimedia Design
program_heading: The Program
future_heading: Our Expertise. Your Future.
faculty_heading: Our Experts. Your Faculty.
---

<!-- Learn about this code on MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/mix-blend-mode -->
<div class="svg-header isolate">
  <!-- TOP BAR -->
  <div class="row">
    <div class="top-bar">
      <div class="top-bar-title">
          <!-- <a class="shield" href="http://psu.edu"><img alt="The Penn State University Sheild" src="../assets/img/psu_arch_shield_blue.svg"/></a>
          <a class="masthead" href="/"><img alt="The College of Arts and Architecture Masthead" src="../assets/img/psu_arch_masthead_blue.svg"/></a> -->
          <a class="masthead" href="/"><img alt="The Pennsylvania State University" src="assets/img/psu_shield.svg"/></a>

    <span data-responsive-toggle="responsive-menu" data-hide-for="medium" class="menu-button">
      <button class="menu-icon" type="button" data-toggle></button>
    </span>


      </div>
      <div id="responsive-menu">
        <!-- <div class="nav-container"> -->
          <div class="top-bar-left"></div>
          <div class="top-bar-right">
            <ul class="menu">
              {% for menuitem in site.menuitems %}
              {% if menuitem.url == page.dir %}
                  {% assign class = "active" %}
              {% else %}
                  {% assign class = "normal" %}
              {% endif %}
                  <li class="{{ class }}"><a href="{{ menuitem.url }}">{{ menuitem.title }}</a></li>
              {% endfor %}
              
              <li class="apply-topbar-button"><a href="
http://www.worldcampus.psu.edu/degrees-and-certificates/penn-state-online-digital-multimedia-design-bachelors-degree/overview" target="_blank">Apply</a></li>
              <!-- <li><a href="#"><i class="fa fa-search"></i></a></li> -->

            </ul>

          </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
  <!-- END TOP BAR -->
  <!-- PROGRAM MARK -->
  <div class="row header-content">
      <div class="small-6 small-push-6 columns center">
        <h1><span>Digital</span> <span>Multimedia</span> <span>Design</span></h1>
      </div>
      <div class="small-6 small-pull-6 center columns">
        {% include lattice-svg.html %}
      </div>
  </div>
  <!-- END ROW -->

  <!-- APPLY ROW -->
  <!-- <div class="row apply-button-row">
    <div class="small-8 small-centered medium-6 large-6 columns">
      <a class="expanded button" href="#">Apply Now</a>
    </div>
  </div> -->

</div>
<!-- END SVG HEADER -->

<!-- REQUEST ROW -->
<div class="graph-texture">
  <div class="row request-callout" id="program">
    <div class="small-12 medium-6 large-7 columns">
      <h2 class="callout-heading">{{ page.program_heading }}</h2>
      <h3>Inspiring leadership in design through interdisciplinary education.</h3>
    </div>
    <div class="small-12 medium-6 large-5 columns request"> 
      <div class="request-form">
        <h3>Request Information</h3>
        <form action="https://formspree.io/dmd-info@psu.edu"
          method="POST">          
          Name:<br>
          <input type="text" name="name">
          Email:<br>
          <input type="text" name="email">
          Have questions?:<br>
          <input type="text" name="interest">
          <input type="submit" class="button expanded" value="Submit">
          <br>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="paths-callout" id="future">
  <div class="row">
    <div class="small-12 columns">
      <h2 class="callout-heading">{{ page.future_heading }}</h2>
    </div>
    <div class="small-12 columns">
      <ul class="pagination" role="navigation" aria-label="Pagination">
        <li><a href="/program-hub/program/" class="circle-blue" aria-label="DD">DD</a></li>
        <li><a href="/program-hub/program/" class="circle-red" aria-label="ViP">ViP</a></li>
        <li><a href="/program-hub/program/" class="circle-green" aria-label="IxD">IxD</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns design-your-path">
      <h3>DESIGN YOUR PATH</h3>
      <a href="/program-hub/program" class="button">Pathways <i class="fa fa-random" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
<!-- END PATHS CALLOUT -->

<!-- FACULTY ROW -->
<!-- <div class="faculty-callout">
  <div class="row" id="faculty">
    <div class="small-12 columns">
      <h2 class="callout-heading">{{ page.faculty_heading }}</h2>
    </div>
  </div>
  <div class="row faculty-img-row">
    <div class="small-12 medium-4 large-4 columns">
      <img class="thumbnail" src="assets/img/will_yurman_mug_cropped.jpg" />
      <h3>Will Yurman</h3>
    </div>
    <div class="small-12 medium-4 large-4 columns">
      <img class="thumbnail" src="assets/img/collins-mug.jpg" />
      <h3>Michael Collins</h3>
    </div>
  </div>
  <div class="row">
    <div class="small-12 small-centered medium-5 large-6 columns">
      <a href="/program-hub/about/" class="button expanded">Meet the Faculty</a>
    </div>
  </div>
</div> -->