---
layout: default
title: Digital Multimedia Design
program_heading: The Program
future_heading: Three colleges, one program.
---

<!-- Learn about this code on MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/mix-blend-mode -->
<div class="svg-header isolate">
  <!-- TOP BAR -->
  <div class="row">
    <div class="top-bar">
      <div class="top-bar-title">
          <a class="masthead" href="/"><img alt="The Pennsylvania State University" src="assets/img/psu_shield.svg"/></a>
        <span data-responsive-toggle="responsive-menu" data-hide-for="medium" class="menu-button">
          <button class="menu-icon" type="button" data-toggle></button>
        </span>
      </div>
      {% include top-menu.html %}
    </div>
  </div>
  <!-- END TOP BAR -->
  <!-- PROGRAM MARK -->
  <div class="row header-content">
      <div class="small-6 small-push-6 columns center">
        <h1><span>Digital</span> <span>Multimedia</span> <span>Design</span></h1>
      </div>
      <div class="small-6 small-pull-6 center columns">
        {% include lattice-svg.html %}
      </div>
  </div>
  <!-- END ROW -->
</div>
<!-- END SVG HEADER -->

<!-- REQUEST ROW -->
<div class="graph-texture">
  <div class="row request-callout" id="program">
    <div class="small-12 medium-6 large-7 columns">
      <h2 class="callout-heading">{{ page.program_heading }}</h2>
      <h3>Inspiring leadership in design through interdisciplinary education.</h3>
    </div>
    <div class="small-12 medium-6 large-5 columns request"> 
      <div class="request-form">
        <h3>Request Information</h3>
        <form action="https://formspree.io/dmd-info@psu.edu"
          method="POST">          
          Name:<br>
          <input type="text" name="name">
          Email:<br>
          <input type="text" name="email">
          Have questions?:<br>
          <input type="text" name="interest">
          <input type="submit" class="button expanded" value="Submit">
          <br>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="paths-callout" id="future">
  <div class="row">
    <div class="small-12 columns">
      <h2 class="callout-heading">{{ page.future_heading }}</h2>
    </div>
    <div class="small-12 medium-6 large-5 columns">
      <p>Most programs take place within one college. The Digital Multimedia Design program expands access to a wider range of courses – those typically out of reach for students enrolled in one academic program. Our students take advanced level courses accross the College of Arts and Architecture, College of Communications, and College of IST making it the first interdisciplinary fully-online undergraduate program at Penn State University.</p>
    </div>
  
    <div class="small-12 columns design-your-path">
      <h3>DESIGN YOUR PATH</h3>
      <a href="{{ site.baseurl }}/program" class="button">See pathways <i class="fa fa-random" aria-hidden="true"></i></a>
    </div>
</div>
</div>