<div class="exhibitions">  
  <div class="row">
    <div class="columns small-12">
      <a href="{{ site.baseurl }}/exhibitions">← Back  to exhibitions</a>
      <h1 class="page-heading">{{include.exhibition-title}}</h1>
      <div class="row columns">
          <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
            <ul class="orbit-container">
              <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
              <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
              <li class="orbit-slide is-active">
                <img src="http://placehold.it/1200x450">
              </li>
              <li class="orbit-slide">
                <img src="http://placehold.it/1200x450">
              </li>
              <li class="orbit-slide">
                <img src="http://placehold.it/1200x450">
              </li>
              <li class="orbit-slide">
                <img src="http://placehold.it/1200x450">
              </li>
            </ul>
          </div>
        </div>
    
        <div class="row column text-center">
          <h1>Changing the World Through Design</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris.</p>
          <a href="#" class="button large">Learn More</a>
          <a href="#" class="button large hollow">Learn Less</a>
        </div>
    
        <hr>
    </div>
    <div class="columns small-12">          
      {% assign items = site.projects | where:"exhibition", include.exhibition %}
      {% for project in items %}
      <div class="{{ project.class }}">
        <a href="{{ project.url | prepend: site.baseurl }}"><img src="{{ project.card-image-url }}"></a>
        <a href="{{ project.url | prepend: site.baseurl }}"><h2 class="card-title">{{ project.title }}</h2></a>
        <p>{{ project.card-description }}</p>
      
    </div>
      {% endfor %}
  </div>
</div>