
<!-- dmd100-calendar-su18 -->
<table style="width:100%">
        <tr>
            <th>Lesson</th>
            <th>Lesson Name</th> 
            <th>Assignment Name</th>
            <th>Week</th>
            <th>Due Date, Due Time</th>
            <th>Available Date, Available Time</th>
            <th>Assigned Date, Assigned Time</th>
            <th>Points</th>
            <th>Assignment Doc URL</th>
            <th>Dropbox URL</th>
            <th>Description</th>
            <th>Rubric</th>
        </tr>
        {%- capture schedule__data -%}{{include.schedule}}{%- endcapture -%}
        {%- for assignment in schedule__data -%}
        
      
        <tr>
            <td>{{ assignment.lesson }}</td>
            <td>{{ assignment.lesson-name }}</td>
            <td>{{ assignment.assignment-name }}</td>
            <td>{{ assignment.week }}</td>
            <td>{{ assignment.due-date }}, {{ assignment.due-time }}</td>
            <td>{{ assignment.available-date }}, {{ assignment.available-time }}</td>
            <td>{{ assignment.assigned-date }}, {{ assignment.assigned-time }}</td>
            <td>{{ assignment.points }}</td>
            <td>{{ assignment.assignment-doc-url }}</td>
            <td>{{ assignment.dropbox-url }}</td>
            <td>{{ assignment.description }}</td>
            <td>{{ assignment.rubric-url }}</td>
        </tr>
        {%- endfor -%}
    </table>  
   




