<!-- ACCORDION -->
<div class="accordion-group">
    <ul class="vertical menu" data-accordion-menu>
    	<!--this stupid part is being stupid... -->
	    <li class="accordion-group-tab">
    	{% for pathway in site.pathways %}
	        <a href="{{ pathway.title }}">{{ pathway.title }} </a>
	          <ul class="menu vertical nested">
	  			{% assign sorted = (site.courses | sort: 'number') %}
	  			<!-- Set writeheaderbool = true -->
  				{% assign writeheaderbool = true %}
	  			{% for course in sorted %}
		  			{% if course.pathway-list contains pathway.title and course.number contains 'ART' %}
		  			<!-- Check if writeheaderbool is true -->
	          		<li class="accordion-group-tab">
			  			{% if writeheaderbool == true %}
				  			<!-- If True -> write href header -->
				  			<a href="#">ART Requirements</a>
		            		<ul class="menu vertical nested">
				  			<!-- Set writeheaderbool to false -->
		      				{% assign writeheaderbool = false %}
		  				{% endif %}
		  				<li>
					        <h3><a href="{{ course.bulletin-link }}"> {{ course.number }} </a></h3>
					        <h4> {{ course.title }} </h4>
					        <p> {{ course.description }}</p>
		      			</li>
		  			{% endif %}
	  			{% endfor %}
	  			{% if writeheadbool == true %}
	  				</ul>
					</li>
				{% endif %}
	  			<!-- Set writeheaderbool = true -->
  				{% assign writeheaderbool = true %}
	  			{% for course in sorted %}
		  			{% if course.pathway-list contains pathway.title and course.number contains 'COMM' %}
		  			<!-- Check if writeheaderbool is true -->
	          				<li class="accordion-group-tab">
			  			{% if writeheaderbool == true %}
				  			<!-- If True -> write href header -->
				  			<a href="#">COMM Requirements</a>
		            		<ul class="menu vertical nested">
				  			<!-- Set writeheaderbool to false -->
		      				{% assign writeheaderbool = false %}
		  				{% endif %}
		  				<li>
					        <h3><a href="{{ course.bulletin-link }}"> {{ course.number }} </a></h3>
					        <h4> {{ course.title }} </h4>
					        <p> {{ course.description }}</p>
		      			</li>
		  			{% endif %}
	  			{% endfor %}
	  			{% if writeheadbool == true %}
	  				</ul>
					</li>
				{% endif %}
	  			<!-- Set writeheaderbool = true -->
  				{% assign writeheaderbool = true %}
	  			{% for course in sorted %}
		  			{% if course.pathway-list contains pathway.title and course.number contains 'IST' %}
		  			<!-- Check if writeheaderbool is true -->
	          				<li class="accordion-group-tab">
			  			{% if writeheaderbool == true %}
				  			<!-- If True -> write href header -->
				  			<a href="#">IST Requirements</a>
		            		<ul class="menu vertical nested">
				  			<!-- Set writeheaderbool to false -->
		      				{% assign writeheaderbool = false %}
		  				{% endif %}
		  				<li>
					        <h3><a href="{{ course.bulletin-link }}"> {{ course.number }} </a></h3>
					        <h4> {{ course.title }} </h4>
					        <p> {{ course.description }}</p>
		      			</li>
		  			{% endif %}
	  			{% endfor %}
	  			{% if writeheadbool == true %}
	  				</ul>
					</li>
				{% endif %}
			</ul>
		{% endfor %}
		</li>
	</ul>
</div>
