<!-- ACCORDION -->
<div class="accordion-group">
    <ul class="vertical menu" data-accordion-menu data-multi-expand="false">
    	<!--this stupid part is being stupid... -->
	    
    	{% for pathway in site.pathways %}
	          <ul class="menu vertical nested">
	  			{% assign sorted = (site.courses | sort: 'number') %}
	  			<!-- Set writeheaderbool = true -->
  				{% assign writeheaderbool = true %}
	  			{% for course in sorted %}
		  			{% if course.pathway-list contains pathway.title and course.number contains 'ART' %}
		  				<li>
					        <h3><a href="{{ course.bulletin-link }}"> {{ course.number }} </a></h3>
					        <h4> {{ course.title }} </h4>
					        <p> {{ course.description }}</p>
		      			</li>
		  			{% endif %}
		  			
	  			{% endfor %}
	  			{% if writecloserbool == true %}
		  				</ul>
		  				{% assign writecloserbool = false %}
		  			{% endif %}
	  			{% if writeheadbool == true %}
	  				</ul>
				{% endif %}

	  			<!-- Set writeheaderbool = true -->
  				{% assign writeheaderbool = true %}
	  			{% for course in sorted %}
		  			{% if course.pathway-list contains pathway.title and course.number contains 'COMM' %}
		  				<li>
					        <h3><a href="{{ course.bulletin-link }}"> {{ course.number }} </a></h3>
					        <h4> {{ course.title }} </h4>
					        <p> {{ course.description }}</p>
		      			</li>
		  			{% endif %}
		  			
	  			{% endfor %}
	  			{% if writecloserbool == true %}
		  				</ul>
		  				{% assign writecloserbool = false %}
		  			{% endif %}
	  			{% if writeheadbool == true %}
	  				</ul>
				{% endif %}

	  			<!-- Set writeheaderbool = true -->
  				{% assign writeheaderbool = true %}
	  			{% for course in sorted %}
		  			{% if course.pathway-list contains pathway.title and course.number contains 'IST' %}
		  				<li>
					        <h3><a href="{{ course.bulletin-link }}"> {{ course.number }} </a></h3>
					        <h4> {{ course.title }} </h4>
					        <p> {{ course.description }}</p>
		      			</li>
		  			{% endif %}
		  			
	  			{% endfor %}
	  			{% if writecloserbool == true %}
		  				</ul>
		  				{% assign writecloserbool = false %}
		  			{% endif %}
	  			{% if writeheadbool == true %}
	  				</ul>
				{% endif %}
			</ul>
			</li>
		{% endfor %}
		</li>
	</ul>
</div>
