<!-- ACCORDION -->

<div class="accordion-group" id="pathway-accordion">
    <ul class="vertical menu" data-accordion-menu data-multi-open="false">
    	<!--this stupid part is being stupid... -->
	    
    	{% for pathway in site.pathways %}

    	<li class="accordion-group-tab">
    	
	        <a href="#{{ pathway.title | slugify }}">{{ pathway.title }} </a> 
	          <ul class="menu vertical nested">
	          <li id="courseFilter">
                   
                       <a href="#" data-filter="*" class="current">All Courses</a>
                       <a href="#" data-filter=".art" >ART</a>
                       <a href="#" data-filter=".comm" >COMM</a>
                       <a href="#" data-filter=".ist" >IST</a>
                   
			</li>
			<div class="courseContainer">
	  			{% assign sorted = (site.courses | sort: 'number') %}
	  			<!-- Set writeheaderbool = true -->
  				{% assign writeheaderbool = true %}
	  			{% for course in sorted %}
		  			{% if course.pathway-list contains pathway.title and course.number contains 'ART' %}
		  			
		  				<li class="course-item art">
					        <h3> {{ course.number }} </h3>
					        <h4> {{ course.title }} </h4>
					        <p>{{ course.description }}<p>
					        <p><a href="{{ course.bulletin-link }}" target="_blank">Course Description <i class="fa fa-external-link" aria-hidden="true"></i></a></p>
		      			</li>
					
		  			{% endif %}
	  			{% endfor %}
	  			{% if writecloserbool == true %}
	  			</div> <!-- course container -->
		  				</ul>
		  				</li><!-- Close course list -->
		  				{% assign writecloserbool = false %}
		  			{% endif %}
	  			{% if writeheadbool == true %}
	  				</ul>
					</li>
				{% endif %}

	  			<!-- Set writeheaderbool = true -->
  				{% assign writeheaderbool = true %}
	  			{% for course in sorted %}
		  			{% if course.pathway-list contains pathway.title and course.number contains 'COMM' %}
		  			<!-- Check if writeheaderbool is true -->
		  			
		  				<li class="course-item comm">
					        <h3>{{ course.number }} </h3>
					        <h4> {{ course.title }} </h4>
					        <p> {{ course.description }}</p>
					        <p><a href="{{ course.bulletin-link }}" target="_blank">Course Description <i class="fa fa-external-link" aria-hidden="true"></i></a></p>
		      			</li>
		      		
		  			{% endif %}
	  			{% endfor %}
	  			{% if writecloserbool == true %}
		  				</ul>
		  				</li><!-- Close course list -->
		  				{% assign writecloserbool = false %}
		  			{% endif %}
	  			{% if writeheadbool == true %}
	  				</ul>
					</li>
				{% endif %}
	  			<!-- Set writeheaderbool = true -->
  				{% assign writeheaderbool = true %}
	  			{% for course in sorted %}
		  			{% if course.pathway-list contains pathway.title and course.number contains 'IST' %}
		  			<!-- Check if writeheaderbool is true -->
		  			
		  				<li class="course-item ist">
					        <h3>{{ course.number }} </h3>
					        <h4> {{ course.title }} </h4>
					        <p> {{ course.description }}</p>
					        <p><a href="{{ course.bulletin-link }}" target="_blank">Course Description <i class="fa fa-external-link" aria-hidden="true"></i></a></p>
		      			</li>
		      		
		  			{% endif %}
	  			{% endfor %}
	  			{% if writecloserbool == true %}
		  				</ul>
		  				</li><!-- Close course list -->
		  				{% assign writecloserbool = false %}
		  			{% endif %}
	  			{% if writeheadbool == true %}
	  				</ul>
					</li>
				{% endif %}
			</ul>
			</li>
		{% endfor %}
		</li>
	</ul>
</div>
