<!-- ACCORDION -->
<div class="accordion-group" id="curriculum-accordion">
    <ul class="accordion vertical menu" data-accordion data-multi-expand="false" data-allow-all-closed="true">
        <li class="accordion-group-tab accordion-item" data-accordion-item>
            <a href="#dmd-core" id="dmd-core-heading" class="accordion-title" role="tab" aria-controls="dmd-core">Digital Multimedia Design</a>
            <div class="accordion-content" data-tab-content>
                <ul class="menu vertical nested" role="tabpanel" aria-labelledby="dmd-core-heading">
                <div class="courseContainer">
                        {% assign items = site.courses | where: "program", "dmd" | where: "academic-home", "Arts & Arch" | where: "program-core", true %}
                        {% for course in items %}
                        <li class="course-item">
                            <h3>{% if course.micro-site == true %}<a href="{{ course.url | prepend: site.baseurl }}">{% endif %}{{ course.number }}{% if course.micro-site == true %}</a>{% endif %}</h3>
                            <h4>{{course.title}}</h4>
                            <p><a href="{{course.bulletin-link}}">Bulletin</a></p>
                            <p>{{course.description}}</p>
                            {% if course.micro-site == true %}
                            <a href="{{ course.url | prepend: site.baseurl }}"><span class="">Course website ⟶</span></a>
                            {% endif %}
                        </li>
                        {% endfor %}
                    <div>
                </ul>
            </div>
        </li>
        <li class="accordion-group-tab accordion-item" data-accordion-item>
            <a href="#college-of-arts-arch-core" class="accordion-title" id="college-of-arts-arch-core-heading" role="tab" aria-controls="college-of-arts-arch-core">College of Arts &amp; Architecture</a>
            <div class="accordion-content" data-tab-content>
                <ul class="menu vertical nested" role="tabpanel" aria-labelledby="college-of-arts-arch-core-heading">
                    <div class="courseContainer">
                    {% assign items = site.courses | where: "academic-home", "Arts & Arch" | where: "program-core", true %}
                    {% for course in items %}
                    {% unless course.program contains "dmd" %}
                    <li class="course-item">
                            <h3>{% if course.micro-site == true %}<a href="{{ course.url | prepend: site.baseurl }}">{% endif %}{{ course.number }}{% if course.micro-site == true %}</a>{% endif %}</h3>
                            <h4>{{course.title}}</h4>
                            <p><a href="{{course.bulletin-link}}">Bulletin</a></p>
                            <p>{{course.description}}</p>
                            {% if course.micro-site == true %}
                            <a href="{{ course.url | prepend: site.baseurl }}"><span class="">Course website ⟶</span></a>
                            {% endif %}
                        </li>
                        {% endunless %}    
                    {% endfor %}
                    </div>
                </ul>
            </div>
        </li>
        <li class="accordion-group-tab accordion-item" data-accordion-item>
            <a href="#college-of-communications-core" class="accordion-title" id="college-of-communications-core-heading" role="tab" aria-controls="college-of-communications-core">College of Communications</a>
            <div class="accordion-content" data-tab-content>
                <ul class="menu vertical nested" role="tabpanel" aria-labelledby="college-of-communications-core-heading">
                    <div class="courseContainer">
                    
                            {% assign items = site.courses | where: "academic-home", "Comm" | where: "program-core", true %}
                            {% for course in items %}
                            <li class="course-item">
                                    <h3>{% if course.micro-site == true %}<a href="{{ course.url | prepend: site.baseurl }}">{% endif %}{{ course.number }}{% if course.micro-site == true %}</a>{% endif %}</h3>
                                    <h4>{{course.title}}</h4>
                                    <p><a href="{{course.bulletin-link}}">Bulletin</a></p>
                                    <p>{{course.description}}</p>
                                    {% if course.micro-site == true %}
                                    <a href="{{ course.url | prepend: site.baseurl }}"><span class="">Course website ⟶</span></a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                    </div>
                </ul>
            </div>
        </li>
        <li class="accordion-group-tab accordion-item" data-accordion-item>
            <a href="#college-of-ist-core" class="accordion-title" id="college-of-ist-core-heading" role="tab" aria-controls="college-of-ist-core">College of Information Sciences and Technology</a>
            <div class="accordion-content" data-tab-content>
                <ul class="menu vertical nested" role="tabpanel" aria-labelledby="college-of-ist-core-heading">
                    <div class="courseContainer">
                            {% assign items = site.courses | where: "academic-home", "IST" | where: "program-core", true %}
                            {% for course in items %}
                            <li class="course-item">
                                    <h3>{% if course.micro-site == true %}<a href="{{ course.url | prepend: site.baseurl }}">{% endif %}{{ course.number }}{% if course.micro-site == true %}</a>{% endif %}</h3>
                                    <h4>{{course.title}}</h4>
                                    <p><a href="{{course.bulletin-link}}">Bulletin</a></p>
                                    <p>{{course.description}}</p>
                                    {% if course.micro-site == true %}
                                    <a href="{{ course.url | prepend: site.baseurl }}"><span class="">Course website ⟶</span></a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                    </div>
                </ul>
            </div>
        </li>
    </ul>
</div> <!-- End ACCORDION -->


