<div class="row">
        <div class="small-12 columns">
                <h3 class="text-center head-spacing foot-spacing">{{ include.cal-name }}</h3>
            <!-- Tabs nav -->
            <ul class="tabs" data-tabs id="view-type-tabs-{{include.tab-id}}">
                <li class="tabs-title is-active"><a href="#schedule-weeks-{{include.tab-id}}" aria-selected="true">Weeks</a></li>
                <li class="tabs-title"><a data-tabs-target="schedule-table-{{include.tab-id}}" href="#schedule-table-{{include.tab-id}}">Table</a></li>
            </ul>
        </div>
    </div>
    <!-- Accordion week view -->
    <div class="row">
        <div class="small-12 columns">
            <div class="tabs-content" data-tabs-content="view-type-tabs-{{include.tab-id}}">
                <div class="tabs-panel is-active" id="schedule-weeks-{{include.tab-id}}">
                    <ul class="accordion" data-accordion data-allow-all-closed="true" data-deep-link="true" data-update-history="true" data-deep-link-smudge="true" data-deep-link-smudge-delay="500" id="deeplinked-accordion-{{include.tab-id}}">
                    {%- assign items_grouped = site.data.oer.[include.calendar-data] | group_by:'week' -%}
                        {%- for group in items_grouped -%}
                            {%- if forloop.first == true -%}
                            <li class="accordion-item is-active" data-accordion-item>
                            {%- else -%}
                            <li class="accordion-item" data-accordion-item>
                            {%- endif -%}
                            {%- for date in group.items -%}
                            {%- if forloop.first == true -%}
                            {%- capture week_begin -%}{{date.week-begin | date: "%B %-d, %Y" }}{%- endcapture -%}
                            {%- capture week_end -%}{{date.week-end | date: "%B %-d, %Y" }}{%- endcapture -%}
                                {%- capture week_range -%}{{ week_begin }} - {{ week_end }}{%- endcapture -%}
                            {%- endif -%}
                            {%- endfor -%}
                            <a href="#week-{{group.name | slugify}}" class="accordion-title">Week: {{group.name}}<br><span class="light-gray">{{week_range}}</span></a>
                            <div class="accordion-content course-schedule" data-tab-content id="week-{{group.name | slugify}}">
                            {%- for assignment in group.items -%}
                                <p><a href="{{assignment.assignment-url}}">{{assignment.assignment-name}}</a><br><span>(<strong>Due:</strong> {{ assignment.due-date | date: "%A, %B %-d, %Y" }} by {{ assignment.due-time }})</span></p>
                            {%- endfor -%}
                        </div>
                        </li>
                        {%- endfor -%}
                    </ul>
                </div>
                <!-- Table view -->
                <div class="tabs-panel" id="schedule-table-{{include.tab-id}}">
                    <table class="course-schedule">
                        <tr>
                            <th>Lesson</th>
                            <th>Lesson Name</th> 
                            <th>Assignment Name</th>
                            <th>Week</th>
                            <th>Due Date, Due Time</th>
                            <th>Available Date, Available Time</th>
                            <th>Assigned Date, Assigned Time</th>
                            <th>Points</th>
                            <th>Assignment Doc URL</th>
                            <th>Dropbox URL</th>
                            <th>Description</th>
                            <th>Rubric</th>
                        </tr>
                        {%- for assignment in site.data.oer.[include.calendar-data] -%}
                        <tr>
                            <td>{{ assignment.lesson }}</td>
                            <td>{{ assignment.lesson-name }}</td>
                            <td>{{ assignment.assignment-name }}</td>
                            <td>{{ assignment.week }}</td>
                            <td>{{ assignment.due-date }}, {{ assignment.due-time }}</td>
                            <td>{{ assignment.available-date }}, {{ assignment.available-time }}</td>
                            <td>{{ assignment.assigned-date }}, {{ assignment.assigned-time }}</td>
                            <td>{{ assignment.points }}</td>
                            <td>{{ assignment.assignment-doc-url }}</td>
                            <td>{{ assignment.dropbox-url }}</td>
                            <td>{{ assignment.description }}</td>
                            <td>{{ assignment.rubric-url }}</td>
                        </tr>
                        {%- endfor -%}
                    </table>
                </div>
            </div>
        </div>
    </div>