---
layout: main
title: About
---

<!-- Learn about this code on MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/mix-blend-mode -->
<div class="about-header">
  <!-- TOP BAR -->
  <div class="row">
    <div class="top-bar">
      <div class="top-bar-title">
          <!-- <a class="shield" href="http://psu.edu"><img alt="The Penn State University Sheild" src="../assets/img/psu_arch_shield_blue.svg"/></a>
          <a class="masthead" href="/"><img alt="The College of Arts and Architecture Masthead" src="../assets/img/psu_arch_masthead_blue.svg"/></a> -->
          <a class="masthead" href="/"><img alt="The Pennsylvania State University" src="../assets/img/psu_shield.svg"/></a>

    <span data-responsive-toggle="responsive-menu" data-hide-for="medium" class="menu-button">
      <button class="menu-icon" type="button" data-toggle></button>
    </span>


      </div>
      {% include top-menu.html %}
    </div>
  </div>
  <!-- END TOP BAR -->
  <div class="row quote-row">
    <div class="small-12 columns">
      <h1 class="secondary-page-heading">{{ page.title }}</h1>
    </div>
    <div class="small-12 columns">
      <h2 class="quote">Integration with identity</h2>
    </div>
  </div>

</div>
<!-- END HEADER -->

<!-- PATHWAYS -->
<div class="row secondary-tabs-row">
    <div class="small-9 medium-8 large-6 small-centered columns">
      <ul class="tabs" data-tabs id="about-tabs">
        <li class="tabs-title tabs-first is-active"><a href="#student-panel">Students</a></li>
        <li class="tabs-title tabs-second"><a href="#meet-panel" aria-selected="true">Meet the Faculty</a></li>
      </ul>
    </div>
</div>
<div class="row head-spacing foot-spacing">
  <div class="tabs-content small-12 medium-10 large-8 columns" data-tabs-content="about-tabs">
    
    <div class="tabs-panel is-active" id="student-panel">
      <h2 class="callout-heading">Student experience</h2>
      <p>The curriculum is delivered entirely online through Penn State World Campus and integrates courses in art and design, information sciences and technology, communications, and general education options. When embedded in problem-based, purpose-driven inquiry the curriculum is dynamic and responsive to individual needs, interests and aspirations. This approach is well suited and expertly supported in the resource rich online environment. Students take a series of prescribed courses in digital multimedia design, supporting courses in related areas, and additional courses drawn from online tracks in visual arts and design, information sciences and technologies, and communications. The content is sequenced in order to be informing and transforming as students move through the degree.</p>
    </div>
    <div class="tabs-panel" id="meet-panel">
    {% include faculty-profile.html %}
    </div>
  </div>
</div>