---
layout: default
title: About
---

<!-- Learn about this code on MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/mix-blend-mode -->
<div class="about-header">
  <!-- TOP BAR -->
  <div class="row">
    <div class="top-bar">
      <div class="top-bar-title">
          <!-- <a class="shield" href="http://psu.edu"><img alt="The Penn State University Sheild" src="../assets/img/psu_arch_shield_blue.svg"/></a>
          <a class="masthead" href="/"><img alt="The College of Arts and Architecture Masthead" src="../assets/img/psu_arch_masthead_blue.svg"/></a> -->
          <a class="masthead" href="/"><img alt="The Pennsylvania State University" src="../assets/img/psu_shield.svg"/></a>

    <span data-responsive-toggle="responsive-menu" data-hide-for="medium" class="menu-button">
      <button class="menu-icon" type="button" data-toggle></button>
    </span>


      </div>
      <div id="responsive-menu">
        <!-- <div class="nav-container"> -->
          <div class="top-bar-left"></div>
          <div class="top-bar-right">
            <ul class="menu">
              {% for menuitem in site.menuitems %}
              {% if menuitem.url == page.dir %}
                  {% assign class = "active" %}
              {% else %}
                  {% assign class = "normal" %}
              {% endif %}
                  <li class="{{ class }}"><a href="{{ menuitem.url }}">{{ menuitem.title }}</a></li>
              {% endfor %}
              
              <li class="apply-topbar-button"><a href="http://worldcampus.psu.edu" target="_blank">Apply</a></li>
            </ul>

          </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
  <!-- END TOP BAR -->
  <div class="row quote-row">
    <div class="small-12 columns">
      <h1 class="secondary-page-heading">{{ page.title }}</h1>
    </div>
    <div class="small-12 columns">
      <h2 class="quote">Integration with integrity</h2>
    </div>
  </div>

</div>
<!-- END HEADER -->

<!-- PATHWAYS -->
<div class="row secondary-tabs-row">
    <div class="small-9 medium-8 large-6 small-centered columns">
      <ul class="tabs" data-tabs id="about-tabs">
        <li class="tabs-title tabs-first is-active"><a href="#mission-panel">Mission</a></li>
        <li class="tabs-title tabs-second"><a href="#meet-panel" aria-selected="true">Meet the Faculty</a></li>
      </ul>
    </div>
</div>
<div class="row">
  <div class="tabs-content small-12 columns" data-tabs-content="about-tabs">
    
    <div class="tabs-panel is-active" id="mission-panel">
      <p>The mission of the Digital Multimedia Design program is to provide students with the skills, techniques, and attitudes for success no matter what design challenges lie ahead.</p>
    </div>
    <div class="tabs-panel" id="meet-panel">
      <!-- <h2>{{ page.title }}</h2> -->
    <!-- <p>Ut nulla. Vivamus bibendum, nulla ut congue fringilla, lorem ipsum ultricies risus, ut rutrum velit tortor vel purus. In hac habitasse platea dictumst. Duis fermentum, metus sed congue gravida, arcu dui ornare urna, ut imperdiet enim odio dignissim ipsum. Nulla facilisi. Cras magna ante, bibendum sit amet, porta vitae, laoreet ut, justo. Nam tortor sapien, pulvinar nec, malesuada in, ultrices in, tortor. Cras ultricies placerat eros. Quisque odio eros, feugiat non, iaculis nec, lobortis sed, arcu. Pellentesque sit amet sem et purus pretium consectetuer.

    Ut nulla. Vivamus bibendum, nulla ut congue fringilla, lorem ipsum ultricies risus, ut rutrum velit tortor vel purus. In hac habitasse platea dictumst. Duis fermentum, metus sed congue gravida, arcu dui ornare urna, ut imperdiet enim odio dignissim ipsum. Nulla facilisi. Cras magna ante, bibendum sit amet, porta vitae, laoreet ut, justo. Nam tortor sapien, pulvinar nec, malesuada in, ultrices in, tortor. Cras ultricies placerat eros. Quisque odio eros, feugiat non, iaculis nec, lobortis sed, arcu. Pellentesque sit amet sem et purus pretium consectetuer.</p> -->
<!--     <div class="row">
      <div class="column small-6">
        <img class="thumbnail" src="../assets/img/collins-image-3.png" />
      </div>
      <div class="column small-3">
        <img class="thumbnail" src="../assets/img/collins-image-3.png" />
        <img class="thumbnail" src="../assets/img/collins-image-3.png" />
      </div>
      <div class="column small-3">
        <img class="thumbnail" src="../assets/img/collins-image-3.png" />
        <img class="thumbnail" src="../assets/img/collins-image-3.png" />
      </div>
    </div>
    <div class="row">
      <div class="column small-3">
        <img class="thumbnail" src="../assets/img/collins-image-3.png" />
      </div>
      <div class="column small-3">
        <img class="thumbnail" src="../assets/img/collins-image-3.png" />
      </div>
      <div class="column small-3">
        <img class="thumbnail" src="../assets/img/collins-image-3.png" />
      </div>
      <div class="column small-3">
        <img class="thumbnail" src="../assets/img/collins-image-3.png" />
      </div>
    </div> -->

    <div class="row">
      <div class="small-12 medium-3 large-4 columns">
        <img class="thumbnail" src="../assets/img/will_yurman_mug.jpg" />
      </div>
      <div class="small-12 medium-9 large-8 columns">
        <h3>Will Yurman</h3>
        <p>Will Yurman is a senior lecturer in the College of Communications at Penn State where 
        he teaches multimedia storytelling and photojournalism. He lives in State College, Pennsylvania with his wife Hilary Appelman their two children, two cats and a dog. </p>
        <p>Before coming to Penn State he worked in journalism for more than 20 years as a still photographer and multimedia producer. Will was a staff photographer at the (Rochester N.Y.)Democrat and Chronicle. He also spent three years based in Jerusalem covering the Palestinian-Israeli conflict. </p>
        <p>His still photography and multimedia work have been recognized in the Best of Photography, and Picture of the Year International contests and exhibited at The George Eastman House International Museum of Photography and Film.</p>
        <p>His obsessive-compulsive nature has allowed him to extend his photo a day project to more than twelve years. Not to jinx it, but he has taken a photo every day since December 31, 2003.</p>

      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-3 large-4 columns">
        <img class="thumbnail" src="../assets/img/collins-mug.jpg" />
      </div>
      <div class="small-12 medium-9 large-8 columns">
        <h3>Michael Collins</h3>
        <p>Michael Collins joined the Penn State School of Visual Arts in 2012 where he teaches 3D animation, digital design, and digital fabrication. His research interests in open-source technology and sustainable design unite around online education, where he works to identify and solve contemporary issues facing online teaching and learning. Long-term project collaborations include the ELMS Learning Network project and the OERSchema project.</p>
        <p>Collins has previously worked on projects for the NFL, BMW Guggenheim Lab in NYC, and as freelance product designer. He has attended, presented at, and helped organize a variety of international design, technology, and education conferences and has been a long-time SIGGRAPH volunteer.</p>
      </div>
    </div>

    </div>
  </div>
</div>