// Colors
$btn-color-1:#FF9800; //Orange

.footer {
	background-color: #333;
	color:#efefef;
	padding-top:12vh;
	padding-bottom:12vh;

	a.expanded.button {
		    background-color: transparent;
    		border: 1px solid $btn-color-1;
    		border-radius: 5px;

    	&:hover, &:focus {
    		background-color: $btn-color-1;
    	}
	}
}