---
layout: default
title: The Program
---

<!-- Learn about this code on MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/mix-blend-mode -->
<div class="program-header">
  <!-- TOP BAR -->
  <div class="row">
    <div class="top-bar">
      <div class="top-bar-title">
          <!-- <a class="shield" href="http://psu.edu"><img alt="The Penn State University Sheild" src="../assets/img/psu_arch_shield_blue.svg"/></a>
          <a class="masthead" href="/"><img alt="The College of Arts and Architecture Masthead" src="../assets/img/psu_arch_masthead_blue.svg"/></a> -->
          <a class="masthead" href="/"><img alt="The Pennsylvania State University" src="../assets/img/psu_shield.svg"/></a>

    <span data-responsive-toggle="responsive-menu" data-hide-for="medium" class="menu-button">
      <button class="menu-icon" type="button" data-toggle></button>
    </span>


      </div>
      <div id="responsive-menu">
        <!-- <div class="nav-container"> -->
          <div class="top-bar-left"></div>
          <div class="top-bar-right">
            <ul class="menu">
              {% for menuitem in site.menuitems %}
              {% if menuitem.url == page.dir %}
                  {% assign class = "active" %}
              {% else %}
                  {% assign class = "normal" %}
              {% endif %}
                  <li class="{{ class }}"><a href="{{ menuitem.url }}">{{ menuitem.title }}</a></li>
              {% endfor %}
              
              <li class="apply-topbar-button"><a href="http://worldcampus.psu.edu" target="_blank">Apply</a></li>
              <li><a href="#"><i class="fa fa-search"></i></a></li>

            </ul>

          </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
  <!-- END TOP BAR -->

  <div class="row quote-row">
    <div class="small-12 columns">
      <h1 class="secondary-page-heading">{{ page.title }}</h1>
    </div>
    <div class="small-12 columns">
      <h2 class="quote">"Design quote or testimonial."</h2>
    </div>
  </div>

</div>
<!-- END HEADER -->



<!-- PATHWAYS -->
<div class="row secondary-tabs-row">
    <div class="small-9 medium-8 large-6 small-centered columns">
      <ul class="tabs" data-tabs id="pathways-tabs">
        <li class="tabs-title tabs-first is-active"><a href="#pathways-panel" aria-selected="true">Pathways</a></li>
        <li class="tabs-title tabs-second"><a href="#curriculum-panel">Curriculum</a></li>
      </ul>
    </div>
</div>
<div class="row">
  <div class="tabs-content small-12 columns" data-tabs-content="pathways-tabs">
      <div class="tabs-panel is-active" id="pathways-panel">
        <h2>{{ page.title }}</h2>
        <p></p>
        <div class="text-center">
          {% include lattice-paths.html %}
        </div>
    </div>
      <div class="tabs-panel" id="curriculum-panel">
      
      <h2>Curriculum</h2>

      <p>The Digital Multimedia Design program links courses from the College of Arts and Architecture, the College of Communications, and the College of IST at Penn State University. This interdisciplinary program introduces students to universal design concepts for creative problem solving. Learners will apply contemporary design methods to engage real-world issues in expressive and technical projects. Students will produce a digital portfolio over the duration of their studies and create a self-directed thesis project in their capstone semester.</p>

      <!-- ACCORDION -->
      <div class="accordion-group">
        <ul class="vertical menu" data-accordion-menu>
          <li class="accordion-group-tab">
            <a href="#">School of Visual Arts</a>
              <ul class="menu vertical nested">
                <li>
                  <h3>ART100</h3>
                  <h4>Color Theory and Design 100</h4>
                  <p>Ut nulla. Vivamus bibendum, nulla ut congue fringilla, lorem ipsum ultricies risus, ut rutrum velit tortor vel purus. In hac habitasse platea dictumst. Duis fermentum, metus sed congue gravida, arcu dui ornare urna, ut imperdiet enim odio dignissim ipsum.</p>
                </li>
                <li>
                  <h3>ART200</h3>
                  <h4>Color Theory and Design 200</h4>
                  <p>Ut nulla. Vivamus bibendum, nulla ut congue fringilla, lorem ipsum ultricies risus, ut rutrum velit tortor vel purus. In hac habitasse platea dictumst. Duis fermentum, metus sed congue gravida, arcu dui ornare urna, ut imperdiet enim odio dignissim ipsum.</p>
                </li>
              </ul>
          </li>
          <li class="accordion-group-tab">
            <a href="#">School of Communications</a>
              <ul class="menu vertical nested">
                <li>
                  <h3>COMM100</h3>
                  <h4>Communications 100</h4>
                  <p>Ut nulla. Vivamus bibendum, nulla ut congue fringilla, lorem ipsum ultricies risus, ut rutrum velit tortor vel purus. In hac habitasse platea dictumst. Duis fermentum, metus sed congue gravida, arcu dui ornare urna, ut imperdiet enim odio dignissim ipsum.</p>
                </li>
                <li>
                  <h3>COMM200</h3>
                  <h4>Communications 200</h4>
                  <p>Ut nulla. Vivamus bibendum, nulla ut congue fringilla, lorem ipsum ultricies risus, ut rutrum velit tortor vel purus. In hac habitasse platea dictumst. Duis fermentum, metus sed congue gravida, arcu dui ornare urna, ut imperdiet enim odio dignissim ipsum.</p>
                </li>
              </ul>
          </li>
          <li class="accordion-group-tab">
          <a href="#">School of Business</a>
            <ul class="menu vertical nested">
                <li>
                  <h3>B100</h3>
                  <h4>Business 100</h4>
                  <p>Ut nulla. Vivamus bibendum, nulla ut congue fringilla, lorem ipsum ultricies risus, ut rutrum velit tortor vel purus. In hac habitasse platea dictumst. Duis fermentum, metus sed congue gravida, arcu dui ornare urna, ut imperdiet enim odio dignissim ipsum.</p>
                </li>
                <li>
                  <h3>B200</h3>
                  <h4>Business 200</h4>
                  <p>Ut nulla. Vivamus bibendum, nulla ut congue fringilla, lorem ipsum ultricies risus, ut rutrum velit tortor vel purus. In hac habitasse platea dictumst. Duis fermentum, metus sed congue gravida, arcu dui ornare urna, ut imperdiet enim odio dignissim ipsum.</p>
                </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>