---
layout: main
---
<div class="row expanded padding-bottom-1 padding-top-1 bg-color-gray">
    <div class="columns small-10 small-push-1 {{ page.class }}">
        <a href="{{ site.baseurl }}/courses">⟵ Back to courses</a>
    </div>
</div>
<div class="row expanded bg-color-gray">
  <div class="columns small-8 small-push-2 foot-spacing head-spacing {{ page.class }}">
    
    
    
    {% if page.course-features == true %}
    course features
    {% endif %}
    
    {% if page.course-materials-picture == true %}
    course materials picture
    {% endif %}
    {% if page.faq == true %}
    FAQ
    {% endif %}
    {% if page.title!= null %}
    <a href="{{ page.url | prepend: site.baseurl }}"><h1 class="card-title">{{ page.title }}</h1></a>
    {% endif %}
    {% if page.description != null %}
    <p>{{ page.description }}</p>
    {% endif %}
    
  </div>
</div>
{% if page.image-url != null %}
    <img src="{{ site.baseurl }}/assets/img/{{ page.image-url }}">
{% endif %}
<div class="row expanded bg-color-gray">
    <div class="columns small-8 small-push-2 foot-spacing head-spacing {{ page.class }}">
    {% if page.callout != null %}
    <h2 class="text-center">{{ page.callout }}</h2>
    {% endif %}
    </div>
</div>
<div class="row expanded">
    <div class="columns small-8 small-push-2 foot-spacing head-spacing {{ page.class }}">
    {% if page.micro-site-description != null %}
    <h2>Course Description</h2>
    <p>{{ page.micro-site-description }}</p>
    {% endif %}
    </div>
</div>
{% unless page.offerings == null %}
  {% include offerings-list.html offerings=page.offerings %}
{% endunless %}
{{content}}